.git/
.gitignore

Dockerfile
docker-compose.yml
*.env
dev-entrypoint.sh
.dockerignore

log/*.log

tmp/*
!tmp/pids/
!tmp/pids
!tmp/pids/.keep

.rspec
spec/

# Ignore history files
**/.*_hist*

# Ignore database dumps
db/dumps/*
!db/dumps/.keep
